:root {
    --text-color: blanchedalmond;
}


body {
  font-family: "Noto Sans", sans-serif;
  background-color: black;
  color: var(--text-color);
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 35px;
}

h2 {
    font-size: 60px;
}

h3 {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(16, 141, 179);
}

ul {    
    list-style: none;
    font-size: 60px;

   text-align: center;
}

li {
    padding: 20px;

}

.intro {
  text-align: center;

  margin-top: 200px;
}

.intro p {
    font-size: 40px;
}

.intro span {
    font-size:25px;
    
}

.about-bg {
    background: url(/images/bg2.jpg) no-repeat center center fixed;
}
.connect-icon {
   
    font-size: 350px;
    color: rgb(16, 141, 179);
}

#home-photo {
  border-radius: 300px;
  margin-top: 100px;
  
}

#projects-h1, #connect-h1 {
    text-align: center;
    color:white;
}

@media (max-width: 1400px) {
    .intro {
        margin-top: 100px;
    }
}